/* Just a way to remove the default underline from links */
a.no-underline {
  background: none;
}

a.hidden {
  display: none;
}

input.contact {
  width: 40%;
}

textarea.contact {
  width: 40%;
  height: 200px;
}

h1.title {
  /* move the whole heading to the left a bit */
  position: relative;
  right: 15px;
}

img.header-logo {
  width: 80px;
  height: auto;
  /* move the image so it's centered on the line */
  position: relative;
  right: 15px;
}

img.title-logo {
  width: 66px;
  height: auto;
  /* move the image so it's centered on the line */
  position: relative;
  top: 15px;
  right: 15px;
}

img.footer-logo {
  width: 44px;
  height: auto;
  /* move the image so it's centered on the line */
  position: relative;
  top: 10px;
  right: 5px;
}

/* mobile-only changes */
@media only screen and (max-width: 960px) {
  h1.title {
    /* move the heading down a bit */
    position: relative;
    margin-top: 0;
  }
  img.header-logo {
    /* position the logo nicely with the heading */
    position: relative;
    right: -10px;
  }
  img.title-logo {
    width: 37px;
    height: auto;
    /* move the image so it's centered on the line */
    position: relative;
    top: 2px;
    left: 1px;
  }
}

