<% if current_article %>
  <ul class="articlepagination">
  <% if current_article.article_previous %>
    <li><%= link_to 'Previous article', current_article.article_previous.url %></li>
  <% end %>
  <% if current_article.article_previous && current_article.article_next %>
    <li>•</li>
  <% end %>
  <% if current_article.article_next %>
    <li><%= link_to 'Next article', current_article.article_next.url %></li>
  <% end %>
  </ul>
<% end %>
