<p>
  <ul class="share-buttons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= config[:host] %>" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL)); return false;" class='no-underline'><img alt="Share on Facebook" src="/assets/simple_icons_black/Facebook.png" /></a></li>
    <li><a href="https://twitter.com/intent/tweet?source=<%= config[:host] %>&text=:%20<%= config[:host] + current_page.url %>&via=dmerrick" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;" class='no-underline'><img alt="Tweet" src="/assets/simple_icons_black/Twitter.png" /></a></li>
    <li><a href="http://www.reddit.com/submit?url=<%= config[:host] %>&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;" class='no-underline'><img alt="Submit to Reddit" src="/assets/simple_icons_black/Reddit.png" /></a></li>
  </ul>
</p>
