<%= mn("
Weeks in: **#{weeks}**<br>
Distance traveled: **#{distance} miles (#{miles_to_kilometers(distance)}km)**<br>
Current location: **[#{current_article&.data&.location}](http://w3w.co/#{current_article&.data&.location})***<a href='https://what3words.com/about' class='no-underline'>[?]</a>*")
%>
