<%= mn("
Weeks in: **#{weeks}**<br>
Distance traveled: **#{distance} miles**<br>
Current location: **[#{current_article.data.location}](http://w3w.co/#{current_article.data.location})***<a href='https://what3words.com/about' class='no-underline'>[?]</a>*")
%>
