---
pageable: false
ogp:
  og:
    description: Here's where you can ask the author anything.
---

Go ahead and ask me a question about anything you like.
I might answer it in the [FAQ](/faq)!

<p>
<form class="amaform" autocomplete="off" action='https://danalol-contact.herokuapp.com/' method='post'>
  <span><label for="question">What would you like to know?</label></span>
  <br>
  <input class="question" id="question" name="message" type="text"/>
  <p>
    <input type="submit" value="Submit" class="btn">
  </p>
</form>
</p>
