---
page_title: Browse the Archives
pageable: false
---

<section>
<p>
  <h2>Recent Articles</h2>
  <ol>
    <% blog.articles[0...10].each do |article| %>
	  <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
    <% end %>
  </ol>
</p>
</section>

<section>
<p>
  <h2>By Tag</h2>
  <ol>
    <% blog.tags.each do |tag, articles| %>
    <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
  </ol>
</p>
</section>

<section>
<p>
  <h2>By Year</h2>
  <ol>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
    <% end %>
  </ol>
</p>
</section>
