---
pageable: false
ogp:
  og:
    description: Here's how you contact Dana.
---

## Elsewhere on the Internet

You can find me on the following sites and contact me through there.

 * [Facebook](https://www.facebook.com/adanalifeblog)
 * [Twitter](https://twitter.com/adanalife_)
 * [Instagram](https://instagram.com/adanalife_)
 * [Twitch](https://twitch.tv/adanalife_)
 * [YouTube](https://dana.lol/youtube)
 * [Keybase](https://keybase.io/adanalife)
 * [Github](https://github.com/adanalife)
 * ...or just email me using the old-school web form below

## Contact Dana

<p>
  <form action='https://danalol-contact.herokuapp.com/' method='post'>
    <p>
    <label>Your name and message:</label><br>
    <textarea name='message' class='contact'></textarea>
    </p>
    <p>
    <label>Your email (optional but required for a reply):</label><br>
    <input type='text' name='email' class='contact'>
    </p>
    <p>
    <input type='submit' value='Send!' class='btn'>
    </p>
  </form>
</p>

