---
pageable: false
ogp:
  og:
    description: Contact Dana if you so desire.
---

<h2>Reach Out and Touch Me</h2>

<p>
  <form action='https://danalol-contact.herokuapp.com/' method='post'>
    <p>
    Your name and message:<br>
    <textarea name='message'></textarea>
    </p>
    <p>
    Your email (optional but helpful):<br>
    <input type='text' name='email'>
    </p>
    <p>
    <input type='submit' value='Send!'>
    </p>
  </form>
</p>

