---
pageable: false
ogp:
  og:
    description: Contact Dana if you so desire.
---

## Elsewhere on the Internet

You can find me on the following sites and contact me through there.

 * [Facebook](https://www.facebook.com/www.dana.lol)
 * [Twitter](https://twitter.com/danamerrick)
 * [Github](https://github.com/dmerrick)
 * [Keybase](https://keybase.io/dmerrick)
 * ...or just email me using the following old-school web form

## Contact Me

<p>
  <form action='https://danalol-contact.herokuapp.com/' method='post'>
    <p>
    <label>Your name and message:</label><br>
    <textarea name='message' class='contact'></textarea>
    </p>
    <p>
    <label>Your email (optional but required for a reply):</label><br>
    <input type='text' name='email' class='contact'>
    </p>
    <p>
    <input type='submit' value='Send!'>
    </p>
  </form>
</p>

