---
pageable: false
ogp:
  og:
    description: Contact Dana if you so desire.
---

<h2>Reach Out and Touch Me</h2>

<p>
  <form action='https://danalol-contact.herokuapp.com/' method='post'>
    <p>
    <label>Your name and message:</label><br>
    <textarea name='message' class='contact'></textarea>
    </p>
    <p>
    <label>Your email (optional but required for a reply):</label><br>
    <input type='text' name='email' class='contact'>
    </p>
    <p>
    <input type='submit' value='Send!'>
    </p>
  </form>
</p>

