---
pageable: false
ogp:
  og:
    description: View an image in full-size.
---

<% if photo %>
<section>
  <p>
    You're now viewing the <em>super high-resolution</em> version of this image.<br>
    <a href='/contact'>Contact me</a> if you'd like to use it, it's probably fine!
  </p>
  <p>
    <a href="javascript:history.back()">Click here to go back</a>.
  </p>

  <a href="/<%= photo.destination_path %>" class='no-underline'>
    <%= image_tag photo.destination_path, optimize: false %>
  </a>

  <h2>
    <a href="javascript:history.back()">Back from whence you came</a>
  </h2>
</section>
<% else %>
  BROKENHERE
<% end %>

