---
pageable: false
ogp:
  og:
    description: View an image in full-size.
---

<section>
  <p>
    You're now viewing the <em>super high-resolution</em> version of this image.<br>
    <a href='/contact'>Contact me</a> if you'd like to use it, it's probably fine!
  </p>
  <p>
    <a href="javascript:history.back()" class='hidden'>Click here to go back</a>
  </p>

  <a href="/<%= photo.destination_path %>" class='no-underline'>
    <%= image_tag photo.destination_path, optimize: false, class: 'really-wide' %>
  </a>

  <h2>
    <a href="javascript:history.back()" class='hidden'>Back from whence you came</a>
  </h2>
</section>

<script>
  // show back buttons if and only if we came from this site
  if(document.referrer.includes('dana.lol')) {
    var back_buttons = document.getElementsByClassName('hidden');
    for (i=0; i < back_buttons.length; i++) {
      back_buttons[i].classList.remove('hidden');
    }
  }
</script>

