name: Linting
on: [pull_request]
jobs:

  misspell:
    name: misspell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: misspell
        uses: reviewdog/action-misspell@v1.11
        with:
          github_token: ${{ secrets.github_token }}
          locale: "US"
          level: info
