name: Release
on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - id: get-version
      uses: battila7/get-version-action@v2
    - name: Install Ruby
      uses: actions/setup-ruby@v1
      with:
        #TODO: bring this back to 2.7
        ruby-version: '2.6'
    - uses: actions/checkout@v2
    - uses: actions/cache@v2.1.4
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Install Gems
      run: |
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Build the static site
      run: bundle exec middleman build --bail
    - name: Push the static site to prod
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.CI_PROD_AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.CI_PROD_AWS_SECRET_ACCESS_KEY }}
        PROD_S3_BUCKET: ${{ secrets.PROD_S3_BUCKET }}
      run: aws s3 sync build $PROD_S3_BUCKET/build/

    - name: Post Discord notification
      if: startsWith(github.ref, 'refs/tags/v')
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        VERSION_TAG: ${{ steps.get-version.outputs.version }}
      uses: Ilshidur/action-discord@0.3.0
      with:
        args: 'New release created for [{{ EVENT_PAYLOAD.repository.full_name }}]({{ EVENT_PAYLOAD.repository.html_url }}): [{{ VERSION_TAG }}]({{ EVENT_PAYLOAD.compare }})'
